:root {
  --border: 1px solid black;
  --radius: 3px;
  --pad: 12px;
  --font: "Georgia", serif;
}

/* ===== BASE ===== */
body {
  font-family: var(--font);
  margin: 0;
  padding: 110px 20px 20px;
  background: white;
  color: black;
}

a, button, input {
  outline: none;
  padding: var(--pad);
  border: var(--border);
  border-radius: var(--radius);
}

a {
  padding: 6px 12px;
  border-radius: var(--radius);
  text-decoration: none;
  color: black;
  transition: 0.15s background;
}

a:hover {
  background: black;
  color: white;
}

/* ===== LAYOUT ===== */
.container {
  max-width: 420px;
  margin: 0 auto;
}

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  border-bottom: 3px solid #000;
  padding: 16px 20px;
}

.header-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ===== FORMS ===== */
form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 20px;
}

input {
  padding: var(--pad);
  border: var(--border);
  border-radius: var(--radius);
}

button {
  padding: var(--pad);
  boarder: var(--border);
  border-radius: var(--radius);
  background: #fff;
  cursor: pointer;
  transition: 0.15s background;
}

button:hover {
  background: #000;
  color: #fff;
}

.error {
	color: red;
}

/* ===== SEARCH ===== */
.search-container {
  max-width: 600px;
  margin: 0 auto 30px;
}

.search-box {
  display: flex;
  gap: 10px;
}

.search-box input {
  flex: 1;
}

.search-results-dropdown {
  border-top: none;
  padding: 8px;
  max-height: 350px;
  overflow-y: auto;
  margin-top: -2px;
}

.search-result-item {
  display: flex;
  justify-content: space-between;
  padding: 6px 0;
  border-bottom: 1px solid #eee;
}

.search-result-item:last-child {
  border-bottom: none;
}

/* ===== CHART BOXES ===== */
.chart-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 900px;
  margin: 0 auto;
}

.wallet-display,
.exchange-display {
	margin: 1rem;
  border: var(--border);
  border-radius: var(--radius);
  padding: 16px;
}

.exchange-display svg {
  width: 100%;
  height: 380px;
}