body {
    background-color: #ffffff;
    color: black;
    font-family: monospace;
    margin: 20px;
}

h1 {
    text-align: center;
}

#chart {
    width: 800px;
    height: 600px;
    border: 1px solid black;
    margin: 0 auto;
}

#command-interface {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}

#response-box {
    border: 2px solid black;
    padding: 4px;
}

input {
    background-color: #ffffff;
    color: black;
    border: 2px solid black;
    font-family: monospace;
    padding: 10px;
    width: 300px;
}

button {
    background-color: #ffffff;
    color: black;
    border: 2px solid black;
    font-family: monospace;
    padding: 10px 10px;
}

pre {
    border: 1px solid black;
    padding: 10px;
    overflow: auto;
    height: 200px;
    width: 800px;
    margin: 10px auto;
}


